<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agenda Board</title>
  <link 
    rel="stylesheet" 
    href="main.css">
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css">
</head>

<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">App Name</a></h5>
    <a class="btn btn-outline-primary" href="../../logout">Log out</a>
  </div>

  <main role="main">
    <section class="jumbotron text-center" style="background-color: white; padding: 0rem 0rem;">
      <div class="container">
        <h1 class="jumbotron-heading" style="padding-top: 2rem;"><%=group.groupName%>'s Agenda Board</h1>
        <p class="lead text-muted"></p>
        <p style="padding-top: 1rem;">
          <a class="btn btn-link" href="../<%=group.groupName%>/calendar">Calendar</a>
          <a class="btn btn-link" href="../<%=group.groupName%>/list">Lists</a>
          <a class="btn btn-link" href="../<%=group.groupName%>/messenger">Messenger</a>
          <a class="btn btn-link" href="../<%=group.groupName%>/notification">Notifications</a>
        </p>
      </div>
    </section>
    <hr class="featurette-divider">
  </main>

  <div class="container py-5">
    <div class="row">
      <!-- Start lane -->
      <div class="col-12 col-lg-4">
        <div class="card mb-3">
          <div class="card-header bg-light">
            <h3 class="card-title h5 mb-1">
              Backlog
            </h3>
            <small class="mb-0 text-muted">
              Lorem ipsum dolor sit amet, consectetur elit.
            </small>
          </div>
          <div class="card-body">
            <div class="tasks" id="backlog" style="min-height: 450px;">
              <!-- Start task -->
              <div class="card mb-3 cursor-grab">
                <div class="card-body">
                  <p class="mb-0">In magna lorem, vulputate eu pulvinar nec, accumsan ut erat.</p>
                  <div class="d-flex justify-content-around">
                    <a href="#" class="next" style="font-size: 15pt; text-decoration: none;">&#8250;</a>
                  </div>
                </div>
              </div>
              <!-- End task -->
              <!-- Start task -->
              <div class="card mb-3 cursor-grab">
                <div class="card-body">
                  <p class="mb-0">Aenean egestas lobortis posuere.</p>
                  <div class="d-flex justify-content-around">
                    <a href="#" class="next" style="font-size: 15pt; text-decoration: none;">&#8250;</a>
                  </div>
                </div>
              </div>
              <!-- End task -->
            </div>
            <!-- Add Task -->
            <div class="container">
              <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#form">
                Add
              </button>  
            </div>
            <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="exampleModalLabel">Add a Task to Backlog</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="bio">Task Description</label>
                        <textarea class="form-control" type="text" name="bio" id="bio" rows="5" value="" placeholder="Start writing your task here..." required></textarea>
                      </div>
                    </div>
                    <div class="modal-footer border-top-0 d-flex justify-content-center">
                      <button type="submit" class="btn btn-outline-primary">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End lane -->
  
      <!-- Start lane -->
      <div class="col-12 col-lg-4">
        <div class="card mb-3">
          <div class="card-header bg-light">
            <h3 class="card-title h5 mb-1">
              In Progress
            </h3>
            <small class="mb-0 text-muted">
              Aenean sed neque at lectus fermentum fringilla.
            </small>
          </div>
          <div class="card-body">
            <div class="tasks" id="progress" style="min-height: 450px;">
              <!-- Start task -->
              <div class="card mb-3 cursor-grab">
                <div class="card-body">
                  <p class="mb-0">Nam id sem non sem molestie efficitur nec non sem. Sed gravida viverra sem in vehicula.</p>
                  <div class="d-flex justify-content-around">
                    <a href="#" class="previous" style="font-size: 15pt; text-decoration: none;">&#8249;</a>
                    <a href="#" class="next" style="font-size: 15pt; text-decoration: none;">&#8250;</a>
                  </div>
                </div>
              </div>
              <!-- End task -->
              <!-- Start task -->
              <div class="card mb-3 cursor-grab">
                <div class="card-body">
                  <p class="mb-0">Phasellus molestie dui urna, at tempus dui ornare non.</p>
                  <div class="d-flex justify-content-around">
                    <a href="#" class="previous" style="font-size: 15pt; text-decoration: none;">&#8249;</a>
                    <a href="#" class="next" style="font-size: 15pt; text-decoration: none;">&#8250;</a>
                  </div>
                </div>
              </div>
              <!-- End task -->
            </div>
          </div>
        </div>
      </div>
      <!-- End lane -->
  
      <!-- Start lane -->
      <div class="col-12 col-lg-4">
        <div class="card mb-3">
          <div class="card-header bg-light">
            <h3 class="card-title h5 mb-1">
              Completed
            </h3>
            <small class="mb-0 text-muted">
              Morbi convallis magna eu pellentesque viverra.
            </small>
          </div>
          <div class="card-body">
            <div class="tasks" id="completed" style="min-height: 450px;">
              <!-- Start task -->
              <div class="card mb-3 cursor-grab">
                <div class="card-body">
                  <p class="mb-0">Phasellus aliquet lacinia sem, ut lacinia est varius et.</p>
                  <div class="d-flex justify-content-around">
                    <a href="#" class="previous" style="font-size: 15pt; text-decoration: none;">&#8249;</a>
                  </div>
                </div>
              </div>
              <!-- End task -->
              <!-- Start task -->
              <div class="card mb-3 cursor-grab">
                <div class="card-body">
                  <p class="mb-0">Maecenas leo ante, facilisis vitae sollicitudin id, interdum a magna.</p>
                  <div class="d-flex justify-content-around">
                    <a href="#" class="previous" style="font-size: 15pt; text-decoration: none;">&#8249;</a>
                  </div>
                </div>
              </div>
              <!-- End task -->
            </div>
          </div>
        </div>
      </div>
      <!-- End lane -->
    </div>
  </div>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script>
    dragula([
        document.querySelector('#backlog'),
        document.querySelector('#progress'),
        document.querySelector('#completed')
    ]);
  </script>

</body>
</html>
