<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agenda Board</title>
  <link 
    rel="stylesheet" 
    href="main.css">
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css">
</head>

<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">KO-LAB</a></h5>
    <a class="btn btn-outline-primary" href="../../logout">Log out</a>
  </div>

  <main role="main">
    <section class="jumbotron text-center" style="background-color: white; padding: 0rem 0rem;">
      <div class="container">
        <h1 class="jumbotron-heading" style="padding-top: 2rem;"><%=agenda.group%>'s Agenda Board</h1>
        <p class="lead text-muted"></p>
        <p style="padding-top: 1rem;">
          <a class="btn btn-link" href="../<%=group.groupName%>/calendar">Calendar</a>
          <a class="btn btn-link" href="../<%=group.groupName%>/list">Lists</a>
          <a class="btn btn-link" href="../<%=group.groupName%>/messenger">Messenger</a>
          <a class="btn btn-link" href="../<%=group.groupName%>/notification">Notifications</a>
        </p>
      </div>
    </section>
    <hr class="featurette-divider">
  </main>

  <div class="container py-5">
    <div class="row">
      <!-- Start lane -->
      <div class="col-12 col-lg-4">
        <div class="card mb-3">
          <div class="card-header bg-light">
            <h3 class="card-title h5 mb-1">
              Backlog
            </h3>
            <small class="mb-0 text-muted">
              Lorem ipsum dolor sit amet, consectetur elit.
            </small>
          </div>
          <div class="card-body">
            <div class="tasks" id="backlog" style="min-height: 450px;">
              <!-- Start task -->
              <% for (var i = 0; i < agenda.row.length; i++) { %>
                <% if(agenda.row[i].row==0) { %>
                  <div class="card mb-3">
                    <div class="card-body">
                      <% if(agenda.priority[i].priority=="select") { %>
                        
                        <% } %>
                        
                        <% if(agenda.priority[i].priority=="high") { %>
                            <span class="badge badge-pill badge-danger text-white mb-2">High</span>
                        <% } %>
                        
                        <% if(agenda.priority[i].priority=="medium") { %>
                            <span class="badge badge-pill badge-warning text-white mb-2">Medium</span>
                        <% } %>
                        
                        <% if(agenda.priority[i].priority=="low") { %>
                            <span class="badge badge-pill badge-success text-white mb-2">Low</span>
                        <% } %>
                        
                        <% if(agenda.priority[i].priority=="onhold") { %>
                            <span class="badge badge-pill badge-info text-white mb-2">On hold</span>
                        <% } %>
                      <p class="mb-0"><%=agenda.obj[i].text%></p>
                      <div class="d-flex justify-content-around" style="max-height: 1.5rem;">
                        <form>
                          <button type="button" class="btn btn-link" style="font-size: 15pt; text-decoration: none;" title="Edit" data-toggle="modal" data-target="#editform<%=i%>">&#9998;</button>
                        </form>
                        <form action="../<%=group.groupName%>/agendaboard/delete/<%=i%>" method="post">
                          <button type="submit" class="btn btn-link" style="font-size: 15pt; text-decoration: none;" title="Delete">&#8999;</button>
                        </form>
                        <form action="../<%=group.groupName%>/agendaboard/editrowup/<%=i%>" method="post">
                          <button type="submit" class="btn btn-link" style="font-size: 15pt; text-decoration: none;" title="Move right">&#9654;</button>
                        </form>
                      </div>
                    </div>
                  </div>
                <% } %>
                <!-- Pop-up form for editing an item in Backlog-->
                <div class="modal fade" id="editform<%=i%>" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header border-bottom-0">
                        <h5 class="modal-title">Edit The Task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <form action="#dillon" method="post">
                        <div class="modal-body">
                          <div class="form-group">
                            <label for="prioritylevel">Priority level</label>
                            <select class="custom-select" name="priority">
                              <% if(agenda.priority[i].priority=="select") { %>
                                <option selected value="select">select</option>
                                <option value="high">High</option>
                                <option value="medium">Medium</option>
                                <option value="low">Low</option>
                                <option value="onhold">On Hold</option>
                              <% } %>
                              <% if(agenda.priority[i].priority=="high") { %>
                                <option value="select">select</option>
                                <option selected value="high">High</option>
                                <option value="medium">Medium</option>
                                <option value="low">Low</option>
                                <option value="onhold">On Hold</option>
                              <% } %>
                              <% if(agenda.priority[i].priority=="medium") { %>
                                <option value="select">select</option>
                                <option value="high">High</option>
                                <option selected value="medium">Medium</option>
                                <option value="low">Low</option>
                                <option value="onhold">On Hold</option>
                              <% } %>
                              <% if(agenda.priority[i].priority=="low") { %>
                                <option value="select">select</option>
                                <option value="high">High</option>
                                <option value="medium">Medium</option>
                                <option selected value="low">Low</option>
                                <option value="onhold">On Hold</option>
                              <% } %>
                              <% if(agenda.priority[i].priority=="onhold") { %>
                                <option value="select">select</option>
                                <option value="high">High</option>
                                <option value="medium">Medium</option>
                                <option value="low">Low</option>
                                <option selected value="onhold">On Hold</option>
                              <% } %>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="bio">Task Description</label>
                            <textarea class="form-control" type="text" name="desc" id="description" rows="5" value="description" required><%=agenda.obj[i].text%></textarea>
                          </div>
                        </div>
                        <div class="modal-footer border-top-0 d-flex justify-content-center">
                          <button type="submit" class="btn btn-outline-primary">Save</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              <% } %>
                <!-- End task -->
            </div>
            <!-- Add Task -->
            <div class="container">
              <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#form">
                New +
              </button>  
            </div>
            <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="exampleModalLabel">Add a Task to Backlog</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form action="../<%=group.groupName%>/agendaboard/addelement/<%=agenda.row.length%>" method="post">
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="prioritylevel">Priority level</label>
                        <select class="custom-select" name="priority">
                          <option selected value="select">select</option>
                          <option value="high">High</option>
                          <option value="medium">Medium</option>
                          <option value="low">Low</option>
                          <option value="onhold">On Hold</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="bio">Task Description</label>
                        <textarea class="form-control" type="text" name="bio" id="bio" rows="5" value="bio" placeholder="Start writing your task here..." required></textarea>
                      </div>
                    </div>
                    <div class="modal-footer border-top-0 d-flex justify-content-center">
                      <button type="submit" class="btn btn-outline-primary">Add</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End lane -->
  
      <!-- Start lane -->
      <div class="col-12 col-lg-4">
        <div class="card mb-3">
          <div class="card-header bg-light">
            <h3 class="card-title h5 mb-1">
              In Progress
            </h3>
            <small class="mb-0 text-muted">
              Aenean sed neque at lectus fermentum fringilla.
            </small>
          </div>
          <div class="card-body">
            <div class="tasks" id="progress" style="min-height: 450px;">
              <!-- Start task -->
              <% for (var i = 0; i < agenda.row.length; i++) { %>
                <% if(agenda.row[i].row==1) { %>
                  <div class="card mb-3">
                    <div class="card-body">
                      <% if(agenda.priority[i].priority=="select") { %>
                        
                        <% } %>
                        
                        <% if(agenda.priority[i].priority=="high") { %>
                            <span class="badge badge-pill badge-danger text-white mb-2">High</span>
                        <% } %>
                        
                        <% if(agenda.priority[i].priority=="medium") { %>
                            <span class="badge badge-pill badge-warning text-white mb-2">Medium</span>
                        <% } %>
                        
                        <% if(agenda.priority[i].priority=="low") { %>
                            <span class="badge badge-pill badge-success text-white mb-2">Low</span>
                        <% } %>
                        
                        <% if(agenda.priority[i].priority=="onhold") { %>
                            <span class="badge badge-pill badge-info text-white mb-2">On hold</span>
                        <% } %>
                      <p class="mb-0"><%=agenda.obj[i].text%></p>
                      <div class="d-flex justify-content-around" style="max-height: 1.5rem;">
                        <form action="../<%=group.groupName%>/agendaboard/editrowdown/<%=i%>" method="post">
                          <button type="submit" class="btn btn-link" style="font-size: 15pt; text-decoration: none;" title="Move left">&#9664;</button>
                        </form>
                        <form>
                          <button type="button" class="btn btn-link" style="font-size: 15pt; text-decoration: none;" title="Edit" data-toggle="modal" data-target="#editform<%=i%>">&#9998;</button>
                        </form>
                        <form action="../<%=group.groupName%>/agendaboard/delete/<%=i%>" method="post">
                          <button type="submit" class="btn btn-link" style="font-size: 15pt; text-decoration: none;" title="Delete">&#8999;</button>
                        </form>
                        <form action="../<%=group.groupName%>/agendaboard/editrowup/<%=i%>" method="post">
                          <button type="submit" class="btn btn-link" style="font-size: 15pt; text-decoration: none;" title="Move right">&#9654;</button>
                        </form>
                      </div>
                    </div>
                  </div>
                <% } %>
                <!-- Pop-up form for editing an item in In Progress-->
                <div class="modal fade" id="editform<%=i%>" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header border-bottom-0">
                        <h5 class="modal-title">Edit The Task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <form action="#dillon" method="post">
                        <div class="modal-body">
                          <div class="form-group">
                            <label for="prioritylevel">Priority level</label>
                            <select class="custom-select" name="priority">
                              <% if(agenda.priority[i].priority=="select") { %>
                                <option selected value="select">select</option>
                                <option value="high">High</option>
                                <option value="medium">Medium</option>
                                <option value="low">Low</option>
                                <option value="onhold">On Hold</option>
                              <% } %>
                              <% if(agenda.priority[i].priority=="high") { %>
                                <option value="select">select</option>
                                <option selected value="high">High</option>
                                <option value="medium">Medium</option>
                                <option value="low">Low</option>
                                <option value="onhold">On Hold</option>
                              <% } %>
                              <% if(agenda.priority[i].priority=="medium") { %>
                                <option value="select">select</option>
                                <option value="high">High</option>
                                <option selected value="medium">Medium</option>
                                <option value="low">Low</option>
                                <option value="onhold">On Hold</option>
                              <% } %>
                              <% if(agenda.priority[i].priority=="low") { %>
                                <option value="select">select</option>
                                <option value="high">High</option>
                                <option value="medium">Medium</option>
                                <option selected value="low">Low</option>
                                <option value="onhold">On Hold</option>
                              <% } %>
                              <% if(agenda.priority[i].priority=="onhold") { %>
                                <option value="select">select</option>
                                <option value="high">High</option>
                                <option value="medium">Medium</option>
                                <option value="low">Low</option>
                                <option selected value="onhold">On Hold</option>
                              <% } %>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="bio">Task Description</label>
                            <textarea class="form-control" type="text" name="desc" id="description" rows="5" value="description" required><%=agenda.obj[i].text%></textarea>
                          </div>
                        </div>
                        <div class="modal-footer border-top-0 d-flex justify-content-center">
                          <button type="submit" class="btn btn-outline-primary">Save</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              <% } %>
              <!-- End task -->
            </div>
          </div>
        </div>
      </div>
      <!-- End lane -->
  
      <!-- Start lane -->
      <div class="col-12 col-lg-4">
        <div class="card mb-3">
          <div class="card-header bg-light">
            <h3 class="card-title h5 mb-1">
              Completed
            </h3>
            <small class="mb-0 text-muted">
              Morbi convallis magna eu pellentesque viverra.
            </small>
          </div>
          <div class="card-body">
            <div class="tasks" id="completed" style="min-height: 450px;">
              <!-- Start task -->
              <% for (var i = 0; i < agenda.row.length; i++) { %>
                <% if(agenda.row[i].row==2) { %>
                  <div class="card mb-3">
                    <div class="card-body">
                      <% if(agenda.priority[i].priority=="select") { %>
                        
                        <% } %>
                        
                        <% if(agenda.priority[i].priority=="high") { %>
                            <span class="badge badge-pill badge-danger text-white mb-2">High</span>
                        <% } %>
                        
                        <% if(agenda.priority[i].priority=="medium") { %>
                            <span class="badge badge-pill badge-warning text-white mb-2">Medium</span>
                        <% } %>
                        
                        <% if(agenda.priority[i].priority=="low") { %>
                            <span class="badge badge-pill badge-success text-white mb-2">Low</span>
                        <% } %>
                        
                        <% if(agenda.priority[i].priority=="onhold") { %>
                            <span class="badge badge-pill badge-info text-white mb-2">On hold</span>
                        <% } %>
                      <p class="mb-0"><%=agenda.obj[i].text%></p>
                      <div class="d-flex justify-content-around" style="max-height: 1.5rem;">
                        <form action="../<%=group.groupName%>/agendaboard/editrowdown/<%=i%>" method="post">
                          <button type="submit" class="btn btn-link" style="font-size: 15pt; text-decoration: none;" title="Move left">&#9664;</button>
                        </form>
                        <form>
                          <button type="button" class="btn btn-link" style="font-size: 15pt; text-decoration: none;" title="Edit" data-toggle="modal" data-target="#editform<%=i%>">&#9998;</button>
                        </form>
                        <form action="../<%=group.groupName%>/agendaboard/delete/<%=i%>" method="post">
                          <button type="submit" class="btn btn-link" style="font-size: 15pt; text-decoration: none;" title="Delete">&#8999;</button>
                        </form>
                      </div>
                    </div>
                  </div>
                <% } %>
                <!-- Pop-up form for editing an item in Completed-->
                <div class="modal fade" id="editform<%=i%>" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header border-bottom-0">
                        <h5 class="modal-title">Edit The Task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <form action="#dillon" method="post">
                        <div class="modal-body">
                          <div class="form-group">
                            <label for="prioritylevel">Priority level</label>
                            <select class="custom-select" name="priority">
                              <% if(agenda.priority[i].priority=="select") { %>
                                <option selected value="select">select</option>
                                <option value="high">High</option>
                                <option value="medium">Medium</option>
                                <option value="low">Low</option>
                                <option value="onhold">On Hold</option>
                              <% } %>
                              <% if(agenda.priority[i].priority=="high") { %>
                                <option value="select">select</option>
                                <option selected value="high">High</option>
                                <option value="medium">Medium</option>
                                <option value="low">Low</option>
                                <option value="onhold">On Hold</option>
                              <% } %>
                              <% if(agenda.priority[i].priority=="medium") { %>
                                <option value="select">select</option>
                                <option value="high">High</option>
                                <option selected value="medium">Medium</option>
                                <option value="low">Low</option>
                                <option value="onhold">On Hold</option>
                              <% } %>
                              <% if(agenda.priority[i].priority=="low") { %>
                                <option value="select">select</option>
                                <option value="high">High</option>
                                <option value="medium">Medium</option>
                                <option selected value="low">Low</option>
                                <option value="onhold">On Hold</option>
                              <% } %>
                              <% if(agenda.priority[i].priority=="onhold") { %>
                                <option value="select">select</option>
                                <option value="high">High</option>
                                <option value="medium">Medium</option>
                                <option value="low">Low</option>
                                <option selected value="onhold">On Hold</option>
                              <% } %>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="bio">Task Description</label>
                            <textarea class="form-control" type="text" name="desc" id="description" rows="5" value="description" required><%=agenda.obj[i].text%></textarea>
                          </div>
                        </div>
                        <div class="modal-footer border-top-0 d-flex justify-content-center">
                          <button type="submit" class="btn btn-outline-primary">Save</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              <% } %>
                <!-- End task -->
            </div>
          </div>
        </div>
      </div>
      <!-- End lane -->
    </div>
  </div>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script>
    dragula([
        document.querySelector('#backlog'),
        document.querySelector('#progress'),
        document.querySelector('#completed')
    ]);

    function printHi(){
      console.log(hello);
    }
  </script>

</body>
</html>
