<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=group.groupName%> Group</title>
  <link 
    rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">
  <link 
    rel="stylesheet" 
    href="main.css">
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">App Name</a></h5>
    <a class="btn btn-outline-primary" href="../../user/logout">Log out</a>
  </div>

  <main role="main">
    <section class="jumbotron text-center" style="background-color: white; padding: 0rem 0rem;">
      <div class="container">
        <h1 class="jumbotron-heading" style="padding-top: 2rem;">Welcome to <%=group.groupName%> Group</h1>
        <p class="lead text-muted"></p>
        <p style="padding-top: 1rem;">
          <a class="btn btn-link" href="<%=group.groupName%>/agendaboard">Agenda Board</a>
          <a class="btn btn-link" href="<%=group.groupName%>/calendar">Calendar</a>
          <a class="btn btn-link" href="<%=group.groupName%>/list">Lists</a>
          <a class="btn btn-link" href="<%=group.groupName%>/messenger">Messenger</a>
          <a class="btn btn-link" href="<%=group.groupName%>/notification">Notifications</a>
        </p>
      </div>
      <hr class="featurette-divider">
      <section style="padding-top: 2rem;">
        <h4>Group Creator: <a href = "mailto: <%= group.groupCreator %>"><%= group.groupCreator %></a></h4>

        <p style="padding-top: 2rem;">
          <div class="d-flex justify-content-around">
            <ul class="list-group" style="min-width: 300px;">
              <li class="list-group-item active">Group Member(s):</li>
              <li class="list-group-item"><a href = "mailto: <%= group.groupCreator %>"><%= group.groupCreator %></a></li>
              <% for (var i = 0; i < group.groupMembers.length; i++) { %>
                <li class="list-group-item"><a href = "mailto: <%= group.groupMembers[i] %>"><%= group.groupMembers[i] %></a></li>
              <% } %>
            </ul>
          </div>
        </p>
      </section>
    </section>
  </main>

  <script 
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
    crossorigin="anonymous">
  </script>
  <script 
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
    crossorigin="anonymous">
  </script>
  <script 
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
    crossorigin="anonymous">
  </script>
</body>
</html>
